h1{
    font-size: 4rem;
    text-align: center;
}

h2{
    font-size: 3rem;
    text-align: center;
}

.head{
    color: white;
}

#home{
    background-color: black;
    margin: 0px;
}

body{
    margin: 0%;
}

img{
    height: 300px;
    width: 400px;
    display: inline-block;
}

.head-img{
    height: 500px;
    width: 700px;
    margin-left: 27%;
}

.choice{
    display: block;
    height: 50px;
    width: 500px;
    padding: 10px;
    background-color: black;
}

p{
    color: white;
    text-align: center;
}

.choice1{
    margin-left: 30%;
}

.choice2{
    margin-top: 20px;
    margin-left: 30%;
}

.choices{
    margin-top: 50px;
    margin-bottom: 50px;
}

a{
    text-decoration: none;
}

.images{
    margin-left: 10%;
}